{{add_header_item itemType="style" href="/assets/css/vote.css"}}
<form class="container vote-container">
	<div class="container voting-block">
		<h2>President (example)</h2>
		<div class="candidates">
			<label>
				<input type="radio" name="vote-position_id" value="candidateA_id" />
				<span>Candidate A</span>
			</label>
			<label>
				<input type="radio" name="vote-position_id" value="candidateB_id" />
				<span>Candidate B</span>
			</label>
			<label>
				<input type="radio" name="vote-position_id" value="candidateC_id" />
				<span>Candidate C</span>
			</label>
		</div>
	</div>

	<div class="container voting-block">
		<h2>Vice President (example)</h2>
		<div class="candidates">
			<label>
				<input type="radio" name="vote-vice_position_id" value="candidate1_id" />
				<span>Candidate 1</span>
			</label>
			<label>
				<input type="radio" name="vote-vice_position_id" value="candidate2_id" />
				<span>Candidate 2</span>
			</label>
			<label>
				<input type="radio" name="vote-vice_position_id" value="candidate3_id" />
				<span>Candidate 3</span>
			</label>
		</div>
	</div>

	<div class="container voting-block">
		<h2>Secretary (example)</h2>
		<div class="candidates">
			<label>
				<input type="radio" name="vote-sec_position_id" value="candidateAlpha_id" />
				<span>Candidate Alpha</span>
			</label>
			<label>
				<input type="radio" name="vote-sec_position_id" value="candidateBravo_id" />
				<span>Candidate Bravo</span>
			</label>
			<label>
				<input type="radio" name="vote-sec_position_id" value="candidateCharlie_id" />
				<span>Candidate Charlie</span>
			</label>
		</div>
	</div>

	<div class="submission-box center-align container">
		<button type="submit" class="btn waves-effect waves-light green darken-4">Vote!</button>
	</div>
</form>
